footer {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    color: #475569;
    font-size: 0.8rem;
}
#playerTank {
    position: absolute;
    height: 60px;
    width: 50px;
    border:  2px black solid;
    background: linear-gradient(135deg, #3ecc2b, #19770d);
}
#playerTankTurret {
    position: relative;
    left: 17px;
    top: -30px;
    height: 60px;
    width: 10px;
    border:  2px black solid;
    transform-origin: bottom center;
    background: linear-gradient(135deg, #19770d, #3ecc2b);
}
.bullet {
    position: absolute;
    height: 10px;
    width: 3px;
    border: 2px black solid;
    background: linear-gradient(135deg, #e6e6e6, #000000, #e6e6e6);
    /* transition: transform, 1s; */
}
#gunpointTank {
    position: relative;
    border:  2px black solid;
    left: -3px;
    top: -8px;
    height: 13px;
    width: 13px;
    background: linear-gradient(135deg, #19770d, #3ecc2b);
}
.cement{
    position: absolute;
    border: 2px black solid;
    background: linear-gradient(135deg, #b9b9b9, #868686, #919191);
}
#wall1{
    height: 20px;
    width: 800px;
    top: 0px;
    left: 0px;
}
#wall2{
    height: 590px;
    width: 20px;
    top: 0px;
    left: 800px;
}
#wall3{
    height: 20px;
    width: 800px;
    top: 570px;
    left: 0px;
}
#wall4{
    height: 590px;
    width: 20px;
    top: 0px;
    left: 0px;
}
#wall5{
    height: 30px;
    width: 360px;
    top: 140px;
    left: 150px;
}
#wall6{
    height: 290px;
    width: 30px;
    top: 140px;
    left: 650px;
}
#wall7{
    height: 30px;
    width: 360px;
    top: 430px;
    left: 320px;
}
#wall8{
    height: 290px;
    width: 30px;
    top: 170px;
    left: 150px;
}
#body{
    background: linear-gradient(105deg, #484848, #4a4a4a, #555555);
}